.wrapper {
  max-width: 300px;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

.title {
  text-align: center;
  line-height: 140%;
  margin-bottom: 10px;
}

.form {
  width: 100%;
  margin-bottom: 30px;
}

.inputTextContainer {
  display: flex;
  align-items: center;
  height: 30px;
  margin-bottom: 10px;
}

.inputTextContainer input {
  width: 100%;
  height: 100%;
  padding: 0 10px;
}

.errorInput {
  border: 2px solid red;
}

.errorMessage {
  font-size: 16px;
  color: red;
}

.btn {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
}

.btnSubmit {
  background-color: rgb(0, 255, 0);
  padding: 0 10px;
  margin-left: 15px;
}

.btnDelete {
  margin-left: auto;
}

.todos {
  height: 100%;
}

.btnControls {
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  gap: 15px;
}

.btnControl {
  width: 33.33%;
}

.active {
  background-color: aquamarine;
}
