.form {
  width: 100%;
  margin-bottom: 30px;
}

.inputTextContainer {
  display: flex;
  align-items: center;
  height: 30px;
  margin-bottom: 10px;
}

.inputTextContainer input {
  width: 100%;
  height: 100%;
  padding: 0 10px;
}

.errorInput {
  border: 2px solid red;
}

.errorMessage {
  font-size: 16px;
  color: red;
}

.btn {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
}

.btnSubmit {
  background-color: rgb(0, 255, 0);
  padding: 0 10px;
  margin-left: 15px;
}
